run_name: "co2_basic"
output_dir: "outputs/" # This will be created by the main script

data:
  training: "data/processed/CO2_minor_isos_training.csv"
  
  target_col: "Error_IE"
  iso_col: "iso"
  iso_idx_col: "iso_idx"
  
  not_feature_cols:
    - "Error_IE"
    - "E_Ma_iso"
    - "E_IE_original"
    - "iso"
    - "molecule"
    - "molecule_idx" 
    - "iso_idx"      
    - "ID"
    - "unc"
    - "??"
    - "Source"
    - "match_key"

  scaled_cols:
    - "E_IE"
    - "E_Ca_iso"
    - "E_Ca_parent"
    - "E_Ma_parent"
    - "gtot"
    - "J"

  # Isos to FILTER OUT from the dataset
  filter_out_isos: [636]  # e.g., [636]

experiment:
  type: "single_run"  # Options: 'single_run', 'multi_seed', or 'cv'
  seed: 42
  train_size: 0.7
  val_size: 0.1  
  test_size: 0.2 

model:
  name: "CO2_Basic"
  params:
    dropout: 0.3

training:
  epochs: 200
  batch_size: 128
  learning_rate: 1e-3
  init_bias_to_mean: True
  loss_function: "SmoothL1Loss"  # Options: 'MSELoss', 'L1Loss', 'SmoothL1Loss'
  optimizer: "Adam"               # Options: 'SGD', 'Adam'
  early_stopping:
    enabled: False

analysis:
  post_processing:
    enabled: true  # Set to false for simple models
    true_energy_col: "E_Ma_iso"
    original_energy_col: "E_IE"
    nn_correction_col: "NN_correction"

  isotopologue_analysis:
    enabled: true
    group_by_col: "iso"
    
    # List specific isos to analyze, or [] for all
    isos_of_interest: []
  
  feature_importance:
    enabled: true
    metric: 'mae'  # Options: 'mae', 'rmse'

plotting:
  enabled: true
  group_by_col: "iso" 
  true_energy_col: "E_Ma_iso"
  n_cols: 4
  
  # Control which plots to generate
  plot_loss: true
  plot_pred_vs_true: true
  plot_metric_bars: true
  plot_residual_hist: true
  plot_residual_boxplots: true
  plot_iso_residuals: true

inference:
  enabled: true
  analysis: true
  filter_out_isos: [636]
  data_path: "data/processed/co2_minor_isos_inference.csv"
  output_subdir: "data/inference/"