run_name: "co_co2"
output_dir: "outputs/"

data:
  training: "data/processed/co_co2_training.csv"
  
  target_col: "Error_IE"
  molecule_col: "molecule" 
  molecule_idx_col: "molecule_idx"
  iso_col: "iso"
  iso_idx_col: "iso_idx"
  
  not_feature_cols:
    - "Error_IE"
    - "E_Ma_iso"
    - "E_IE_original"
    - "iso"
    - "molecule"
    - "molecule_idx" 
    - "iso_idx"      
    - "ID"
    - "unc"
    - "??"
    - "Source"
    - "match_key"

  scaled_cols:
    - "E_IE"
    - "E_Ca_iso"
    - "E_Ca_parent"
    - "E_Ma_parent"
    - "gtot"
    - "J"

isos_of_interest: &isos_of_interest
  - 27
  - 28
  - 36
  - 37
  - 38

weighting:
  enabled: true
  manual_weights:
    # CO isos
    "27": 7.0
    "28": 1.0
    "36": 1.0
    "37": 7.0
    "38": 1.0

experiment:
  type: "cv"
  seed: 42
  train_size: 0.7
  val_size: 0.1
  test_size: 0.2

model:
  name: "CO_CO2_Combined"
  params:
    shared_dim: 128
    iso_head_dim: 128

training:
  epochs: 100
  batch_size: 512
  learning_rate: 5e-4 
  loss_function: "SmoothL1Loss" 
  huber_delta: 0.01
  optimizer: "Adam"
  scheduler:
    enabled: true
    mode: 'min'
    factor: 0.1
    patience: 10
    min_lr: 1e-6
  early_stopping:
    enabled: True
    patience: 30
    delta: 1e-5

analysis:
  feature_importance:
    enabled: true
    metric: 'mae'

  post_processing:
    enabled: true
    true_energy_col: "E_Ma_iso"
    original_energy_col: "E_IE" 
    nn_correction_col: "NN_correction"

  isotopologue_analysis:
    enabled: true
    group_by_col: "iso"
    isos_of_interest: *isos_of_interest

plotting:
  enabled: true
  group_by_col: "iso"
  true_energy_col: "E_Ma_iso"
  isos_of_interest: *isos_of_interest
  
  plot_loss: true
  plot_pred_vs_true: true
  plot_metric_bars: true
  plot_residual_hist: true
  plot_residual_boxplots: true
  plot_iso_residuals: true

inference:
  enabled: true
  data_path: "data/processed/co_inference.csv"
  output_subdir: "data/inference/"